.pdf-viewer > picture > img {
    width: 95%;
    max-width: 320px;
    max-height: 360px;
    object-fit: cover;
    object-position: 100% 0;
    position: relative;
    top: 35px;
    transition: all 0.3s ease-out;
    padding: 5px;
    background-color: white;
    margin: -30px auto 0 auto;
}

.pdf-viewer > picture > img:hover {
    top: 5px;
}

.pdf-viewer > a {
    position: relative;
    z-index: 1;
}

.pdf-viewer > a img {
    width: auto;
    height: 20px;
}

.pdf-viewer > a {
    position: relative;
    z-index: 1;
}

.pdf-viewer > a > span:nth-child(1) {
    display: revert;
}

.pdf-viewer > a > span:nth-child(2) {
    display: none;
}

@media (max-width: 767px) {
    .pdf-viewer > a > span:nth-child(1) {
        display: none;
    }

    .pdf-viewer > a > span:nth-child(2) {
        display: revert;
    }
}