blockquote {
    font-style: italic;
    font-weight: 500;
    text-align: left;
    border-left: none;
    padding: 15px 20px;
}

blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
