img { /* Toutes les images */
    width: 100%;
    -moz-box-shadow: 0 0 5px 0 #656565;
    -webkit-box-shadow: 0 0 5px 0 #656565;
    -o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
}

.well { /* Ombre des wells, possible sans well */
    -moz-box-shadow: 0 0 5px 0 #656565;
    -webkit-box-shadow: 0 0 5px 0 #656565;
    -o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
}