.arrondi { /* Classe pour arrondir les bords */
    border-radius: 10px;
    overflow: hidden;
}

.arrondi-mini { /* Petite classe du même effet en plus petit */
    border-radius: 5px;
    overflow: hidden;
}

img { /* Taille des images */
    width: 100%;
}

.well, .ombre { /* Ombre des wells, possible sans well */
    -moz-box-shadow: 0 0 5px 0 #656565;
    -webkit-box-shadow: 0 0 5px 0 #656565;
    -o-box-shadow: 0 0 5px 0 #656565;
    box-shadow: 0 0 5px 0 #656565;
}