/*######################################################################################################################
########################################################################################################################
###                                                                                                                  ###
###                                                      NAVBAR                                                      ###
###                                                                                                                  ###
########################################################################################################################
######################################################################################################################*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar { /* Navbar entière */
    margin-bottom: 50px; /* Espace sous la navbar */
    border-radius: 0; /* Les coins ne sont pas arrondis */
    background-color: var(--prim); /* Couleur de fond de base */
}

.navbar:before{ /* Entourloupe pour pouvoir poser une ombre qui s'étente en dessous à droite et à gauche de la navbar */
    content: " ";
    position:absolute;
    width: 150%;
    right: 0;
    bottom: 0;
    height: 20px;
    z-index: 0;
    -moz-box-shadow: 0 5px 4px #656565;
    -webkit-box-shadow: 0 5px 4px #656565;
    box-shadow: 0 5px 4px #656565;
}

.navbar .nav .open > a,
.navbar .nav .open > a:focus,
.navbar .nav .open > a:hover { /* Couleur des boutons quand sélectionnés ou survolés */
    background-color: var(--prim-select);
}

.navbar .icon-bar { /* Couleur des ||| trois barres horizontales quand l'écran est trop petit pour ouvrir */
    background-color: var(--sec);
}

.navbar .navbar-nav .nav-link, /* Couleur du texte qui est affiché de base dans la navbar */
.navbar .dropdown-toggle, /* Couleur du texte du menu d'ouverture du menu déroulant */
.navbar .dropdown-item { /* Couleur de texte des items du menu déroulant */
    color: var(--sec);
}

.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link,
.navbar .dropdown a:hover,
.navbar .dropdown a:focus,
.navbar .dropdown-item.active,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus { /* Couleur et background si un menu est survolé ou sélectionné */
    color: var(--sec);
    background-color: var(--prim-select);
}

.navbar .nav-item.active:hover .nav-link,
.navbar .dropdown-item.active:hover,
.navbar .dropdown-item.active:focus,
.navbar .dropdown a:focus:hover { /* Background si un menu est sélectionné ET survolé */
    background-color: var(--prim-select-double);
}

.navbar .dropdown-menu { /* Couleur de background de l'intérieur du menu déroulant */
    background-color: var(--prim);
}

/*######################################################################################################################
########################################################################################################################
###                                                                                                                  ###
###                                                   ALTERNATEURS                                                   ###
###                                                                                                                  ###
########################################################################################################################
######################################################################################################################*/
@media (max-width: 991px) {
    .alterneur-grand-tres-petit {
        display: none !important;
    }
    .alterneur-petit {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .alterneur-petit {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .alterneur-grand-tres-petit {
        display: revert !important;
    }
    .alterneur-petit {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .alterneur-mini {
        display: none !important;
    }
}

/*######################################################################################################################
########################################################################################################################
###                                                     -- M --                                                      ###
###                                                                                                                  ###
###                                                BOUTONS VARIABLES                                                 ###
########################################################################################################################
######################################################################################################################*/
.btn-var {
    color: var(--sec);
    background-color: var(--prim);
    border-color: var(--prim-border);
}

.btn-var.focus, .btn-var:focus {
    color: var(--sec);
    background-color: var(--prim-select);
    border-color: var(--prim-select-double-border);
}

.btn-var:hover {
    color: var(--sec);
    background-color: var(--prim-select);
    border-color: var(--prim-select-double);
}

.btn-var.active, .btn-var:active, .open>.dropdown-toggle.btn-var {
    color: var(--sec);
    background-color: var(--prim-select);
    background-image:none;
    border-color: var(--prim-select-double);
}

.btn-var.active.focus, .btn-var.active:focus, .btn-var.active:hover, .btn-var:active.focus,
.btn-var:active:focus, .btn-var:active:hover, .open>.dropdown-toggle.btn-var.focus,
.open>.dropdown-toggle.btn-var:focus, .open>.dropdown-toggle.btn-var:hover {
    color: var(--sec);
    background-color: var(--prim-select-double);
    border-color: var(--prim-select-double-border);
}

.btn-var.disabled.focus, .btn-var.disabled:focus, .btn-var.disabled:hover, .btn-var[disabled].focus,
.btn-var[disabled]:focus, .btn-var[disabled]:hover, fieldset[disabled] .btn-var.focus,
fieldset[disabled] .btn-var:focus, fieldset[disabled] .btn-var:hover {
    background-color: var(--prim);
    border-color: var(--prim-border);
}

.btn-var .badge {
    color: var(--prim);
    background-color: var(--sec)
}

a.btn {
    font-size: large;
    font-weight: 500;
    padding: 8px;
}
