body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
}

a,
a:hover { /* On change la couleur des liens vers du rouge */
    color: var(--prim);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

.pc { /* Petites capitales */
    font-variant: small-caps;
}

.bloc-paragraphes p {
    line-height: 1.68;
    margin-bottom: 1.5em;
    text-align: justify;
}