header { /* Retire la marge par défaut (vu qu'il faut coller la navbar) */
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

header p.normal, header p.main {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    text-shadow:
            5px 5px 5px #f3f3f3,
            -5px 5px 5px #f3f3f3,
            5px -5px 5px #f3f3f3,
            -5px -5px 5px #f3f3f3;
}

header img.normal, header img.main {
    width: 300px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 767px) { /* Le jumbotron ne sera pas fixe sur mobile (problèmes de performances) */
    header {
        background-attachment: revert;
        padding: 10px 0 10px 0;
    }

    header img.normal {
        width: 150px;
    }

    header p.normal {
        display: none;
    }
}