.miniature {
    width: 95%;
    max-width: 320px;
    max-height: 360px;
    object-fit: cover;
    object-position: 100% 0;
    position: relative;
    top: 40px;
    transition: all 0.5s ease-out;
    box-shadow: 0 0 5px 0 #656565;
    padding: 5px;
}

.miniature:hover {
    top: 5px;
}