.head-image {
    max-width: 300px;
    border-radius: 100%;
}

.third-image {
    max-width: 600px;
    object-fit: cover;
    border-radius: 40px;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .head-image {
        display: none;
    }
}
